// nextflow.config (optimized for your system)
// Global configuration
conda.enabled = true

process {
    executor = 'local'
    cpus = 4  // Default 4 cores per process
    memory = '8 GB'  // Default 8GB per process
    echo = true
    errorStrategy = 'terminate'
    conda = '/home/ray/miniforge3/envs/nf-env'
    
    // Specific configuration for GECKO_PIPELINE
    withName: GECKO_PIPELINE {
        cpus = 8
        memory = '16 GB'
        conda = '/home/ray/miniforge3/envs/amn4'
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 2
    }
    
    withLabel: 'ecGEM_preprocessing' {
        conda = '/home/ray/miniforge3/envs/amn4'
        cpus = 2
        memory = '4 GB'
    }
    withLabel: 'AMN_training' {
        conda = '/home/ray/miniforge3/envs/amn4'
        cpus = 4
        memory = '8 GB'
    }
    withLabel: 'MINN_training' {
        conda = '/home/ray/miniforge3/envs/minn_env'
        cpus = 4
        memory = '8 GB'
    }
    withLabel: 'comparative_analysis' {
        conda = '/home/ray/miniforge3/envs/comparative_analysis'
        cpus = 8
        memory = '16 GB'
    }
}

executor {
    queueSize = 2  // Run 2 processes in parallel max
}

docker {
    enabled = true
    runOptions = '-v /var/run/docker.sock:/var/run/docker.sock' 
}

env {
    PYTHONPATH = "${projectDir}/amn"
}